.valeur-area{
    p{
        font-size: 20px !important;
        margin-bottom: 30px !important;
    color: #595959;
        svg{
            color: #ff9191;
            font-size: 30px;
            margin-right: 7px;
        }
    }
}