.form_rdv {
    margin-bottom: 15px;
    input{
        margin-right: 10px;
    }
}
.appointment{
    h3{
        font-size: 20px;
        margin-bottom: 10px;
    }
}
@media (max-width: 800px){
    .appointment-img-area{
        padding: 0;
        img{
            border-radius: 0 !important;
        }
    }
    .appointment{
        .heading{
            margin-bottom: 20px;
        }
    }
    .form_rdv {
        flex-direction: column;
        margin: 0 !important;
        input{
            width: 100% !important;
            margin-right: 0px !important;
            margin-bottom: 15px;
        }
    }
}